# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*

# Capacitor Android build artifacts
android/.gradle/
android/app/build/
android/build/
android/local.properties

# Capacitor iOS build artifacts
ios/App/Pods/
ios/App/App/public/
ios/.xcode.env.local

# Capacitor assets generated
resources/android/
resources/ios/

.vercel
.env*
